<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome~</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/season">계절(season)</a>
            <a href="/loop">반복/조건</a>
            <a href="/calc">짝수/홀수 판정</a>
        </nav>
    </header>
    <main>
        <div>
            <h2>codingOn 방문을 환영합니다.</h2>
        </div>
        <div>
            <img src="../static/paraglider.jpg" alt="패러글라이딩">
        </div>
    </main>
</body>
</html>