<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>서버에서 데이터 받기</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/season">계절(season)</a>
            <a href="/loop">반복/조건</a>
            <a href="/calc">짝수/홀수 판정</a>
        </nav>
    </header>
    <section>
        <h2>반복, 조건문</h2>
        <ul>
            {% for item in items %}
            <li>
                {{ loop.index }}번 요소 - {{ item }}
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for item in items %}
                {% if loop.index < 3  %}
                <li>
                    {{ loop.index }}번 요소 - {{ item }}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
</body>
</html>